@import "./variables";

/*Responsive*/

/*Smartphone*/
@media screen and (max-width: 599px) {

    video {
        width: 350px;
    }

    .image-stack {
        display: none;
    }

    .flexContainerLeft {
        p {
            font-size: 1rem;
        }
    }

    .flexContainerRight {
        padding: 25px 25px 25px 25px;

        p {
            font-size: 1rem;
        }
    }
}

/* Tablet */

@media (min-width: 600px) and (max-width: 1023px) {

    header {
        background-color: $background-color-tablet;
        background-image: $linear-gradient-tablet;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 320px;
        }

    }

    video {
        max-width: 500px;
    }

    .cajabody__element--nosotros {
        display: grid;
        grid-template-areas: 'titulo video'
            'parrafo video'
            'boton video';
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-gap: 1em;
        margin: 20px 40px;
        padding: 20px;
        border-radius: 5px;
        background-color: #a40606;
        background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    }

    .image-stack {
        display: none;
    }

    .flexContainerRight {
        padding: 25px 25px 25px 25px;

        p {
            font-size: 1rem;
        }
    }

    .flexContainerLeft {
        p {
            font-size: 1rem;
        }
    }
}


/* Desktop */
@media (min-width: 1024px) {
    header {
        background-color: $background-color-desktop;
        background-image: $linear-gradient-desktop;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 320px;
        }

    }

    .cajabody__element--nosotros {
        display: grid;
        grid-template-areas: 'titulo video'
            'parrafo video'
            'boton video';
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-gap: 1em;
        margin: 20px 40px;
        padding: 20px;
        border-radius: 5px;
        background-color: #a40606;
        background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    }


    video {
        max-width: 700px;
    }
}