// colores

$color1: #FFFFFF;
$color2: #FF960D;
$color3: #E8B600;
$color4: #FFFF0D;
$color5: #000000;
$color6: #fff9e1;

//header
$background-color-desktop: rgb(208, 151, 0);
$linear-gradient-desktop: linear-gradient(90deg, rgba(208, 151, 0, 1) 0%, rgba(255, 246, 0, 1) 47%, rgba(255, 234, 0, 1) 100%);
$background-color-tablet: #d99058;
$linear-gradient-tablet: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);
$background-color-mobile: #f5df2e;
$linear-gradient-mobile: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);

// titulos
$title-font: bold 2.1rem 'open sans',
sans-serif;
$letter-shadow: 1px 1px 2px black;