/*Creando grids*/

@import "../utilities/variables";

.cajabody {
    display: grid;
    grid-template-rows: 2fr 3fr 2fr 3fr 2fr;
    height: 100vh;
}

.cajabody__element {
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 5px;
}

.cajabody__element--item {
    padding: 20px;
    text-align: center;
    color: white;
}

.cajabody__element--productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    li {
        transition: transform .5s;
        background-color: rgba(22, 22, 22, 0.575);
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
        opacity: .80;
        max-width: 250px;
        text-align: justify;
        padding: 20px;
    }

    li:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari 3-8 */
        transform: scale(1.2);
        opacity: 1;
    }
}

.cajaimg1 {
    background-image: url(../imagenes/KRBN-BODA36.jpeg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
        text-transform: uppercase;
        margin-left: 4rem;
    }

    p {
        font-size: 1.4rem;
        letter-spacing: 2px;
        line-height: 1.2;
        color: white;
        text-shadow: 2px 2px 3px black;
        max-width: 420px;
        margin: 2rem 0 0 4rem;
    }
}

.cajabody__element--nosotros {
    display: block;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

}

#titulo {
    grid-area: titulo;
    text-align: center;
}

#parrafo {
    grid-area: parrafo;
    text-align: justify;
}

#boton {
    grid-area: boton;
    text-align: center;
}

#video {
    grid-area: video;
}

/*grid html servicios*/

.gridareaservicios {
    align-items: center;
    text-align: justify;
    padding: 2.2rem;
    display: grid;
    grid-gap: 30px;
}

.gridareaservicios__element {
    background-color: rgba(37, 37, 37, 0.473);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "imgs tits"
        "imgs pars"
        "imgs vids";
    padding: 40px;
    height: 65vh;
}

.gridareaservicios__element--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    padding: 15px;
    height: 60vh;
    max-width: 550px;
}

.imagestack {
    padding: 15px;
    margin: 30px;
}

.image-stack__item—-top {
    position: absolute;
    z-index: 1;
    transform: translate(280px, 180px);
    border-radius: 10px;
}

.image-stack__item—-middle {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

.image-stack__item—-bottom {
    position: absolute;
    z-index: 1;
    transform: translate(10px, 320px);
    border-radius: 10px;
}

.gridareaservicios__elementcat {
    background-color: rgba(37, 37, 37, 0.473);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "tits2 imgs2"
        "pars2 imgs2"
        "vids2 imgs2";
    padding: 40px;
    height: 60vh;
}


#imgs {
    grid-area: imgs;
}

#tits {
    grid-area: tits;
}

#pars {
    grid-area: pars;
}

#vids {
    grid-area: vids;
}

#imgs2 {
    grid-area: imgs2;
}

#tits2 {
    grid-area: tits2;
}

#pars2 {
    grid-area: pars2;
}

#vids2 {
    grid-area: vids2;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    iframe {
        margin: 20px;
        padding: 15px;
        border-radius: 5px;
    }
}

.flexContainerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.473);
    border-radius: 15px;
    margin: 30px;
    flex-wrap: wrap;
    padding: 25px;

    p {
        font-size: 1.8rem;
        max-width: 520px;
        flex-grow: 3;
        align-items: center;
        justify-content: flex-end;
    }
}

.flexContainerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.473);
    border-radius: 15px;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 25px 200px 25px 25px;

    p {
        font-size: 1.8rem;
        max-width: 520px;
        flex-grow: 3;
        align-items: center;
        justify-content: flex-end;
    }
}

.flexContainerImg {
    max-width: 390px;
    min-width: 120px;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
}